@using ConsoleAppProject.App01;

@model ConsoleAppProject.App01.DistanceConverter

@{ 
    ViewData["Title"] = "Distance Converter";
}

<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Converter" method="post">
            <input type""
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
